{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}
{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Curso de Django</h1>
            <span class="subheading">Blog Desenvolvido com Django </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}
    {% for post in object_list %}
        <div class="post-preview">
            <a href="{{post.get_absolute_url}}">
              <h2 class="post-title">
               {{ post.titulo }}
              </h2>
              <h3 class="post-subtitle">
                    {{ post.conteudo|safe|truncatechars:"200" }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2019</p>
        </div>
        <hr>
    {% endfor %}
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock content %}

<!--
  <div class="post-entry">
            <h2><a href="{{post.get_absolute_url}}"></a></h2>
            <p>{{ post.conteudo }} </p>
        </div>

             
           
            
-->
