{% extends 'base.html' %}
{% block title %} Blog - Detalhe {% endblock title %}
{% block content %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="post-entry">
            <h2>{{ object.titulo }}</h2>
            <p>{{ object.conteudo|safe }} </p>
        </div>
        <a href="{{ object.get_absolute_url_update }}">+ Editar Postagem do Blog </a><br>
        <a href="{% url 'post_delete' object.pk %}"> Deletar Postagem do Blog </a>
{% endblock content %}
